$quick: 'Quicksand',
sans-serif;
$shadow-preset: 0px 0px 30px 7px rgba(0, 0, 0, 0.05);
$blue: #1B408E;
$violet : #C83D78;
$black: #3b3c40;
$cyan: #79bbc1;

.noteManager {

    box-sizing: border-box;
    width: 100%;
    height: 80%;
    .noteContainer {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px;
    box-shadow: $shadow-preset;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    overflow: auto;

        .notes {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
}
}