$quick: 'Quicksand',
sans-serif;
$shadow-preset: 0px 0px 30px 7px rgba(0, 0, 0, 0.05);
$blue: #1B408E;
$violet: #C83D78;
$black: #3b3c40;
$cyan: #79bbc1;
$checkSize: 25px;
.panda0 {
    fill: #FFFFFF;
    stroke: $cyan;
}

.panda1 {
    fill: $cyan;
}

.panda2 {
    fill: none;
    stroke: $cyan;
}

.panda3 {
    fill: #FFFFFF;
}



.gorilla0 {
    fill: $cyan;
}

.gorilla1 {
    fill: #FFFFFF;
    stroke: $cyan;
}

.gorilla2 {
    fill: none;
    stroke: $cyan;
}

.gorilla3 {
    fill: #FFFFFF;
}



.penguin0 {
    fill: $cyan;
}

.penguin1 {
    fill: #FFFFFF;
    stroke: $cyan;
}

.penguin2 {
    fill: none;
    stroke: $cyan;
}

.penguin3 {
    fill: #FFFFFF;
}



.bunny0 {
    fill: #FFFFFF;
    stroke: $cyan;
}

.bunny1 {
    fill: $cyan;
}

.bunny2 {
    fill: none;
    stroke: $cyan;
}

.bunny3 {
    fill: $cyan;
}

.bunny4 {
    fill: #FFFFFF;
}